:root {
    --alt-color: 55, 178, 203; /* Must be an rgb color for opacity to work */
}

/* Clyde / Powercord */

.localBot-GrCgVt:before {
    background-color: rgba(var(--alt-color)) !important;
}

.localBot-GrCgVt {
    background-color: rgba(var(--alt-color), 0.05) !important;
}

/* Playing / Streaming Background */

div[class*="headerPlaying"],
div[class*="headerStreaming"] {
    background-color: rgba(var(--alt-color)) !important;
}

/* Menus */

div[class*="colorDefault-"].focused-3afm-j,
div[class*="colorDefault-"].focused-3afm-j:active {
    background-color: rgba(var(--alt-color)) !important;
    color: #fff !important;
}

div[class*="colorDanger-"].focused-3afm-j,
div[class*="colorDanger-"].focused-3afm-j:active {
    background-color: #f04747 !important;
}

/* Buttons */

div[class*="themeDefault"].valueChecked-m-4IJZ,
button[class*="lookFilled"].colorBrand-3pXr91,
button[class*="lookFilled"].colorBrand-3pXr91:disabled,
button[class*="lookFilled"].colorBrand-3pXr91:hover {
    background-color: rgba(var(--alt-color)) !important;
    color: #fff !important;
    border-color: rgba(var(--alt-color)) !important;
}

/* Sliders */

div[class*="barFill-"] {
    background-color: rgba(var(--alt-color)) !important;
}

/* Reactions */

.reaction-1hd86g.reactionMe-wv5HKu {
    background-color: rgba(var(--alt-color), 0.3);
}

.reactionMe-wv5HKu .reactionCount-2mvXRV, .reactionMe-wv5HKu:hover .reactionCount-2mvXRV {
    color: rgba(var(--alt-color));
}

/* Server Boost Icon */

div[class*="subscribeTooltipWrapper-"] {
    background-color: rgba(var(--alt-color));
}

div[class*="subscribeTooltipWrapper-"]::after {
    border-bottom-color: rgba(var(--alt-color));
}

.lookInverted-2D7oAl.colorBrand-3pXr91 {
    color: rgba(var(--alt-color));
}

/* Bot Buttons */

span[class*="botTagInvert-"] {
    color: rgba(var(--alt-color)) !important;
}

/* Message Edit Buttons */

div[class*="operations-"] > a {
    color: rgba(var(--alt-color)) !important;
}

/* Other stuff */

[style*="background-color: rgb(114, 137, 218)"],
div[class*="colorDefault"].focused-3afm-j,
.colorDefault-2K3EoJ.focused-3afm-j .checkbox-3s5GYZ {
    color: #fff !important;
}

button[class*="lookOutlined"].colorBrand-3pXr91 {
    color: rgba(var(--alt-color)) !important;
    border-color: rgba(var(--alt-color), 30%);
}

button[class*="lookOutlined"].colorBrand-3pXr91:hover {
    border-color: rgba(var(--alt-color), 50%);
}

[class^="regionSelectModalOption-"]:hover,
[style*="border-color: rgb(114, 137, 218)"],
.input-cIJ7To.focused-1mmYsC,
.input-cIJ7To:focus {
    border-color: rgba(var(--alt-color)) !important;
}

circle[class^="radioSelection-"],
[fill*="7289da"] {
    fill: rgba(var(--alt-color)) !important;
}

polyline[stroke*="7289da"] {
    stroke: rgba(var(--alt-color)) !important;
}

[class^="sampleLink-"],
.title-2Dc-Cb,
[class^="regionSelectModalHeader-"],
.lookGhost-2Fn_0-.colorBrand-3pXr91,
.lookLink-9FtZy-.colorBrand-3pXr91,
[aria-label="Verified"],
[style*="color: rgb(114, 137, 218)"],
.colorDefault-2K3EoJ .checkbox-3s5GYZ,
.colorDefault-2K3EoJ.focused-3afm-j .check-1JyqgN,
div[class*="colorBrand"] {
    color: rgba(var(--alt-color)) !important;
}

div[class*="topSectionPlaying-"],
[class^="avatarUploaderInner-"] {
    background-color: rgba(var(--alt-color)) !important;
}

[style*="background-color: rgba(114, 137, 218, 0.4)"] {
    background-color: rgba(var(--alt-color), 40%) !important;
}

.categoryItem-3zFJns.selectedCategoryItem-3X8ujp .itemInner-3gVXMG,
span[class^="questionMark-"],
.interactive:hover,
[style*="background-color: rgb(114, 137, 218)"],
[style*="background: rgb(114, 137, 218)"],
div[class^="newMessagesBar-"],
.wrapper-1BJsBx.selected-bZ3Lue .childWrapper-anI2G9, .wrapper-1BJsBx:hover .childWrapper-anI2G9,
div[class^="dot-"],
span[class*="botTagRegular"] {
    background-color: rgba(var(--alt-color)) !important;
    color: #fff !important;
    border-color: rgba(var(--alt-color)) !important;
}