:root {
    --alt-color: 55, 178, 203; /* Must be an rgb color for opacity to work */
    --hsl-alt-color: 190;
    --radio-group-dot-foreground: rgba(var(--alt-color)) !important;
    --brand-experiment: rgba(var(--alt-color)) !important;
    --brand-experiment-30a: rgba(var(--alt-color), 0.3) !important;
    --brand-experiment-200: rgba(215, 239, 244) !important;
    --brand-experiment-500: rgba(var(--alt-color)) !important;
}

.theme-light {
    --logo-primary: rgba(var(--alt-color));
  }
  
/* Clyde / Powercord */
.replying-eZ7p5z:before,
.ephemeral-2nDdnn:before,
.localBot-GrCgVt:before {
    background-color: rgba(var(--alt-color)) !important;
}

.replying-eZ7p5z,
.ephemeral-2nDdnn,
.localBot-GrCgVt {
    background-color: rgba(var(--alt-color), 0.05) !important;
}

.ephemeralMessage-11q8XZ a {
    color: rgba(var(--alt-color)) !important;
}

/* Playing / Streaming Background */
div[class*="headerPlaying"],
div[class*="headerStreaming"] {
    background-color: rgba(var(--alt-color)) !important;
}

/* Menus */
div[class*="colorDefault-"]:active:not(.hideInteraction-2jPGL_),
div[class*="colorDefault-"].focused-3qFvc8,
div[class*="colorDefault-"].focused-3qFvc8:active {
    background-color: rgba(var(--alt-color)) !important;
    color: #fff !important;
}

div[class*="colorDanger-"].focused-3qFvc8,
div[class*="colorDanger-"].focused-3qFvc8:active {
    background-color: #f04747 !important;
}

/* Buttons */
div[class*="themeDefault"].valueChecked-m-4IJZ,
button[class*="lookFilled"].colorBrand-I6CyqQ,
button[class*="lookFilled"].colorBrand-I6CyqQ:disabled,
button[class*="lookFilled"].colorBrand-I6CyqQ:hover {
    background-color: rgba(var(--alt-color)) !important;
    color: #fff !important;
    border-color: rgba(var(--alt-color)) !important;
}

/* Sliders */
div[class*="barFill-"] {
    background-color: rgba(var(--alt-color)) !important;
}

/* Reactions */
.reaction-2A2y9y.reactionMe-3I9gFK {
    background-color: rgba(var(--alt-color), 0.15);
    border-color: rgba(var(--alt-color)) !important;
}

.reactionMe-3I9gFK .reactionCount-1zkLcN, .reactionMe-3I9gFK:hover .reactionCount-1zkLcN {
    color: rgba(var(--alt-color));
}

/* Server Boost Icon */
div[class*="subscribeTooltipWrapper-"] {
    background-color: rgba(var(--alt-color));
}

div[class*="subscribeTooltipWrapper-"]::after {
    border-bottom-color: rgba(var(--alt-color));
}

.lookInverted-2mDUMi.colorBrand-I6CyqQ {
    color: rgba(var(--alt-color));
}

/* Bot Buttons */
span[class*="botTagInvert-"] {
    color: rgba(var(--alt-color)) !important;
}

/* Message Edit Buttons */
div[class*="operations-"] > a {
    color: rgba(var(--alt-color)) !important;
}

/* Channel Sync Buttons */
button[class*="lookGhost-"].colorBrand-I6CyqQ {
    color: rgba(var(--alt-color)) !important;
    background-color: rgba(var(--alt-color), 0.1) !important;
}

/* Video Player */
div[class*="mediaBarInteractionDragging-"] .mediaBarGrabber-FvJKJg,
.mediaBarInteraction-tUE5dq:hover .mediaBarGrabber-FvJKJg,
.mediaBarGrabber-FvJKJg, 
.mediaBarProgress-38I317, 
.mediaBarProgress-38I317::after, 
.mediaBarProgress-38I317::before {
    background-color: rgba(var(--alt-color));
}

/* Guild Avatar Without Icon */
div[class*="guildAvatarWithoutIcon-"] {
    background-color: rgba(var(--alt-color));
}

/* Cube Loading Spinner */
span[class*="wanderingCubesItem-"] {
    background-color: rgba(var(--alt-color));
}

/* Load More Messages */
.hasMore-3e72_v {
    color: rgba(var(--alt-color));
}

/* Server Partner Badges */
svg[aria-label="Discord Partner"] {
    color: rgba(var(--alt-color)) !important;
}

/* Wide Buttons */
div[class*="radioGroup-"] div[style*="background-color: rgb(114, 137, 218)"] {
    background-color: rgba(var(--alt-color)) !important;
    border-color: rgba(var(--alt-color)) !important;
}
div[class*="cardPrimaryEditable-"] div[style*="border-color: rgb(114, 137, 218)"] {
    border-color: rgba(var(--alt-color)) !important;
}

/* Discord Nitro Button in Settings */
div[class*="side-"] div[style*="color: rgb(114, 137, 218)"] {
    color: rgba(var(--alt-color)) !important;
}
div[class*="side-"] div[style*="background-color: rgb(114, 137, 218)"] {
    background-color: rgba(var(--alt-color)) !important;
    color: #fff !important;
}
div[class*="side-"] div[style*="background-color: rgba(114, 137, 218, 0.1)"] {
    background-color: rgba(var(--alt-color), 0.1) !important;
}

/* Folder Icons */
div[class*="expandedFolderIconWrapper-"] svg[style*="color: rgb(114, 137, 218);"] {
    color: rgba(var(--alt-color)) !important;
}
div[class*="folder-"] div[style*="background-color: rgba(114, 137, 218, 0.4)"] {
    background-color: rgba(var(--alt-color), 40%) !important;
}

/* Checkbox Button (1 of 1000) */
label[class*="checkboxWrapper-"] div[style*="border-color: rgb(114, 137, 218); background-color: rgb(114, 137, 218);"] {
    border-color: rgba(var(--alt-color)) !important;
    background-color: rgba(var(--alt-color)) !important;
}
.selectedIcon-19TbzU {
    color: rgba(var(--alt-color)) !important;
}

/* the nitro tier thing */
div[class*="tierUnlocked-"] {
    color: rgba(var(--alt-color)) !important;
}
.premiumTabItem-1QTfBr[aria-selected=true],
.serverBoostTabItem-2hFTIN[aria-selected=true] {
    background-color: rgba(var(--alt-color)) !important;
}

/* Upload Image Button */
svg circle[fill*="#7289DA"] {
    fill: rgba(var(--alt-color)) !important;
}

/* Audit Log Search */
div[class*="scroller-"] div[style*="background: rgb(114, 137, 218);"] {
    background: rgba(var(--alt-color)) !important;
}

/* Clear After Popout Border */
.lookFilled-1h1y05.select-1Pkeg4:focus,
.lookFilled-1h1y05.selectOpen-hQuR6b {
    border-color: rgba(var(--alt-color)) !important;
}

/* Toast */
.powercord-toast[data-toast-type=info] .icon {
    color: rgba(var(--alt-color)) !important;
}

/* Permissions Sync Text */
.message-1WzYhw strong {
    color: rgba(var(--alt-color)) !important;
    background-color: rgba(var(--alt-color), 0.1)e;
}

/* Changelog */
.improved-2jOfnH {
    color: rgba(var(--alt-color)) !important;
}
.improved-2jOfnH:after {
    background-color: rgba(var(--alt-color)) !important;
}

/* Mentions */

/*
.wrapper-1ZcZW- {
    color: rgba(var(--alt-color));
    background: rgba(var(--alt-color), 0.1);
}*/

/* Another Darned Checkbox */
.checkbox-1ycfTw .checkboxInner-1aRh1d .checkboxElement-uwAa9F:checked+span {
    background-color: rgba(var(--alt-color)) !important;
    border-color: rgba(var(--alt-color)) !important;
}

/* Sync Server Template */
.tooltipBrand-20XsMA,
.theme-light .tooltipBrand-20XsMA {
    background-color: rgba(var(--alt-color)) !important;
}
.tooltipBrand-20XsMA .tooltipPointer-3L49xb,
.theme-light .tooltipBrand-20XsMA .tooltipPointer-3L49xb {
    border-top-color: rgba(var(--alt-color)) !important;
}

/* Media Loader */
div[class*="progress-"] div[style*="background-color: rgb(114, 137, 218);"] {
    background-color: rgba(var(--alt-color)) !important;
}

/* Loading Screen Tip */
div[class*="tipTitle-"] {
    color: rgba(var(--alt-color)) !important;
}

/* Nother Loading Spinner */
.path-lhsLSV {
    stroke: rgba(var(--alt-color)) !important;
}
.path2-F-M5gP {
    stroke: rgba(var(--alt-color)) !important;
    opacity: .6;
}
.path3-3tVOpU {
    stroke: rgba(var(--alt-color));
    filter: grayscale(90%);
}

/* Discovery Thing*/
.categoryPill-1zjNrr.selected-bLcqYK {
    background-color: rgba(var(--alt-color)) !important;
}
.searchPage-3tt6dh .search-25t1e9 .searchBox-31Zv9h:focus-within {
    border-color: rgba(var(--alt-color)) !important;
}

/* notif settings thing */
.wrapper-SdcMKg {
    border-color: rgba(var(--alt-color)) !important;
}
.option-1QI4c9:hover,
.selected-18Wszc.option-1QI4c9 {
    background-color: rgba(var(--alt-color)) !important;
    border-color: rgba(var(--alt-color)) !important;
}

/* Link underlines */
.lookLink-15mFoz.colorBrand-I6CyqQ:hover .contents-3ca1mk {
    background-image: linear-gradient(0deg,transparent,transparent 1px, rgba(var(--alt-color)) 0,rgba(var(--alt-color)) 2px,transparent 0);
}

/* Date Picker */
.datePicker-70cO23 .datePickerHint-17MnA8 .hintValue-1x-flY,
.calendarPicker-sDhzdi .react-datepicker__day.react-datepicker__day--selected:after,
.calendarPicker-sDhzdi .react-datepicker__day:hover {
    background-color: rgba(var(--alt-color)) !important;
}

/* Gif Picker */
.categoryFadeBlurple-1HuV1x {
    background-color: rgba(var(--alt-color), 0.8) !important;
}
.result-3OpoO7:hover:after {
    -webkit-box-shadow: inset 0 0 0 2px rgba(var(--alt-color)), inset 0 0 0 3px #2f3136 !important;
    box-shadow: inset 0 0 0 2px rgba(var(--alt-color)), inset 0 0 0 3px #2f3136 !important;
}

/* View as Roles */
div[class^="noticeText-"] {
    color: #fff !important;
}
.colorBrand-2hgZSE {
    background-color: rgba(var(--alt-color)) !important;
    color: #fff !important;
}
.button-3Ijpww:hover {
    background-color: rgba(var(--alt-color)) !important;
}

/* Other stuff */
div[class*="colorDefault"].focused-3qFvc8,
.colorDefault-CDqZdO.focused-3qFvc8 .checkbox-hADx5o {
    color: #fff !important;
}

button[class*="lookOutlined"].colorBrand-I6CyqQ {
    color: rgba(var(--alt-color)) !important;
    border-color: rgba(var(--alt-color), 30%);
}

button[class*="lookOutlined"].colorBrand-I6CyqQ:hover {
    border-color: rgba(var(--alt-color), 50%);
}

[class^="regionSelectModalOption-"]:hover,
.input-2g-os5.focused-1AtTHC,
.input-2g-os5:focus {
    border-color: rgba(var(--alt-color)) !important;
}

circle[class^="radioSelection-"],
[fill*="7289da"] {
    fill: rgba(var(--alt-color)) !important;
}

polyline[stroke*="7289da"] {
    stroke: rgba(var(--alt-color)) !important;
}

[class^="sampleLink-"],
.title-2Dc-Cb,
[class^="regionSelectModalHeader-"],
.lookGhost-2Fn_0-.colorBrand-I6CyqQ,
.lookLink-15mFoz.colorBrand-I6CyqQ,
.colorDefault-CDqZdO .checkbox-hADx5o,
.colorDefault-CDqZdO.focused-3qFvc8 .check-3HZJs4,
div[class*="colorBrand"] {
    color: rgba(var(--alt-color)) !important;
}

div[class*="topSectionPlaying-"],
[class^="avatarUploaderInner-"] {
    background-color: rgba(var(--alt-color)) !important;
}

.categoryItem-3zFJns.selectedCategoryItem-3X8ujp .itemInner-3gVXMG,
span[class^="questionMark-"],
.interactive:hover,
div[class^="newMessagesBar-"],
.wrapper-3kah-n.selected-1Drb7Z .childWrapper-1j_1ub, .wrapper-3kah-n:hover .childWrapper-1j_1ub,
div[class^="dot-"],
span[class*="botTagRegular"] {
    background-color: rgba(var(--alt-color)) !important;
    color: #fff !important;
    border-color: rgba(var(--alt-color)) !important;
}

.hasMoreButton-1MELpI {
    color: rgba(var(--alt-color)) !important;
}
